body {
    background-color: #666666;
}

.link {
    cursor: pointer;
    transition: .3s;

    &:hover {
        text-decoration: underline;
    }
}

.page {

    .tree {
        &__item {
            position: relative;

            &_del {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.btn {
    max-width: 66px;
    background-color: #cccccc;
    text-align: center;
    padding: 6px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: #666666;
    }
}