body {
    background-color: $black;
    color: $light;
    font-family: "Exo 2", "Courier New", Courier, monospace;

    #page {
        background-color: $dark3;
        width: 100%;
        min-height: 100vh;
        position: absolute;

        @import 'menu';
        @import 'content';
    }
}

.button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkcolor9;
    border: 1px solid $lightcolor1;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: $black9;
        border: 1px solid $lightcolor3;
    }
}