body {
    &::-webkit-scrollbar {
        width: 10px;

        &-track {
            background: $dark7;
        }

        &-thumb {
            background: $light3;

            &:hover {
                background: $lightcolor3;
            }
        }
    }
}