$black: rgba(0, 0, 0, 1);
$black9: rgba(0, 0, 0, 0.9);
$black7: rgba(0, 0, 0, 0.7);
$black5: rgba(0, 0, 0, 0.5);
$black3: rgba(0, 0, 0, 0.3);
$black1: rgba(0, 0, 0, 0.1);

$white: rgba(255, 255, 255, 1);
$white9: rgba(255, 255, 255, 0.9);
$white7: rgba(255, 255, 255, 0.7);
$white5: rgba(255, 255, 255, 0.5);
$white3: rgba(255, 255, 255, 0.3);
$white1: rgba(255, 255, 255, 0.1);

$dark: rgba(38, 38, 38, 1);
$dark9: rgba(38, 38, 38, 0.9);
$dark7: rgba(38, 38, 38, 0.7);
$dark5: rgba(38, 38, 38, 0.5);
$dark3: rgba(38, 38, 38, 0.3);
$dark1: rgba(38, 38, 38, 0.1);

$light: rgba(204, 204, 204, 1);
$light9: rgba(204, 204, 204, 0.9);
$light7: rgba(204, 204, 204, 0.7);
$light5: rgba(204, 204, 204, 0.5);
$light3: rgba(204, 204, 204, 0.3);
$light1: rgba(204, 204, 204, 0.1);

$darkcolor: rgba(15, 46, 35, 1);
$darkcolor9: rgba(15, 46, 35, 0.9);
$darkcolor7: rgba(15, 46, 35, 0.7);
$darkcolor5: rgba(15, 46, 35, 0.5);
$darkcolor3: rgba(15, 46, 35, 0.3);
$darkcolor1: rgba(15, 46, 35, 0.1);

$lightcolor: rgba(96, 212, 174, 1);
$lightcolor9: rgba(96, 212, 174, 0.9);
$lightcolor7: rgba(96, 212, 174, 0.7);
$lightcolor5: rgba(96, 212, 174, 0.5);
$lightcolor3: rgba(96, 212, 174, 0.3);
$lightcolor1: rgba(96, 212, 174, 0.1);